.home-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f0fdf4;
  padding: 20px;
  gap: 20px;
}

.home-container h1 {
  font-size: 52px;
  color: #0f172a;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 18px;
  color: #334155;
  margin-bottom: 25px;
  line-height: 1.6;
  max-width: 600px;
}

.home-container img {
  width: 220px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.btn {
  padding: 12px 26px;
  background-color: #0d10a4;
  color: white;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2e12cd;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}