body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

.navbar {
  background: #1e293b;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}

.active {
  border-bottom: 2px solid #38bdf8;
}