
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Georgia", serif;
  }
  
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
  }
  

  main {
    flex: 1; 
    padding: 20px;
  }
  

  footer {
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    font-size: 14px;
    color: #262626;
  }
  
  footer .links {
    margin-bottom: 10px;
  }
  
  footer .links a {
    margin: 0 8px;
    color: #262626;
    text-decoration: none;
  }
  
  footer .links a:hover {
    text-decoration: underline;
  }
  
.photo{
    width: 450px;
    height: auto;       
    display: block;
    margin-left: 230px; 
    margin-right: auto;
    padding-top: 290px;
}

.logo2{
    position: absolute;
    width: 75px;
    height: auto;       
    display: block;
    margin-left: 95px; 
    top:40px;
    bottom:auto;
}

.text{
    position: absolute;
    font-weight:29px;   
    font-size: 36px; 
    margin-left: 160px; 
    margin-right: auto;
    bottom: 420px;  
    line-height: 60px;  
       
           
}

.diff{
  background: linear-gradient(90deg, #fb5e37, #df2b7f);
  background-clip: text;       
  -webkit-background-clip: text; 
  color: transparent;          
  -webkit-text-fill-color: transparent;
}

.diff2{
    margin-left: 220px;
    background: linear-gradient(90deg, #e62975, #f405ec);
    background-clip: text;      
    -webkit-background-clip: text; 
    color: transparent;           
    -webkit-text-fill-color: transparent;
}

.first{
  position:absolute;
  font-weight: 500;  
  font-size:18px; 
  margin-left: 920px; 
  margin-right: auto;
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;   
}
.center-line {
  position: absolute;
  top: 0;
  width: 3px;         
  height: 89vh;       
  background: #d8dbe0;;
  border: none;
  margin-left:865px ;
}

.input-field {
  position: absolute;
  width: 33%;
  padding: 20px;
  border: 1px solid #c6d7e4;
  border-radius: 14px;   
  font-size: 14px;
  font-family: Arial, sans-serif;
  outline: none;
  margin-left:920px;
  top:150px;
  
}

.input-field::placeholder {
  color: #8e8e8e;
}

.input{
  position: absolute;
  width: 33%;
  padding: 20px;
  border: 1px solid #c6d7e4;
  border-radius: 14px;   
  font-size: 14px;
  font-family: Arial, sans-serif;
  outline: none;
  margin-left:920px;
  top:220px;
}


.login-btn {
  position: absolute;
  width: 36%;
  padding: 12px;
  background-color: #0095f6; 
  color: white;
  border: none;
  border-radius: 20px;     
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-left:920px;
  top:300px;
}

.login-btn:hover {
  background-color: #0077cc;
}

.forgot-box { 
  width: 33%;
  position: absolute;
  top:360px;
  border: none;
  font-weight: 400;
  margin-left:930px;
  font-size: 18px;
  color: #000000;
  padding: 10px ;
  text-align: center;
  cursor: pointer;
  background: transparent;  
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
 
}

.forgot-box:hover {
  background-color: rgba(0, 0, 0, 0.03); 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.facebook-box {
  display: flex;

  text-align: center;
  margin-left:920px;
  padding: 12px 15px;
  border-radius: 18px;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  width: 34%; 
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top:450px;
  border: 1px solid #c6d7e4;
  
}

.facebook-box:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.fb-logo {
  height: 18px;
  align-items: center;
}

.fb-text {
  flex: 2;
  margin-right: 20px;
}

.create-box {
  width:34%;                
  padding: 12px 15px;
  border: 1px solid #0764d5;   /* көк шет */
  border-radius: 18px;          /* дөңгелек шет */
  background-color: white;      /* ішін ақ */
  color: #0764d5;               /* мәтін көк */
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top:503px;
  margin-left:920px;
  transition: background-color 0.2s, box-shadow 0.2s;
}


.create-box:hover {
  background-color: #edeeee; /* ақшыл көк немесе сәл қоюрақ */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* жұмсақ көлеңке */
}

.meta{
  position: absolute;
  width: 85px;
  margin-left: 1145px; 
  margin-top: 560px;
}